.mobile-app {
    &__container {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__information {
        max-width: 630px;
    }

    &__title {
        font-weight: var(--font-weight-semibold);
        font-size: 3.75rem;
        line-height: var(--line-height-snug);
        color: var(--color-text-primary);

        &>span {
            font-style: italic;
            color: var(--color-text-accent);
        }
    }

    &__description {
        margin-top: 40px;
        font-size: var(--font-size-base);
        line-height: var(--line-height-base);
        color: var(--color-text-primary);
    }

    &__download-buttons {
        margin-top: 40px;
        display: flex;
        column-gap: 20px;
    }
}


@media screen and (max-width: 1024px) {

    /* Переход сайдбаров вниз, бургер-меню, уменьшение шрифтов */
    .mobile-app {
        &__container {
            row-gap: 100px;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 768px) {

    /* Перевод большинства Grid/Flex колонок в 1 колонку (flex-direction: column) */
    .mobile-app {
        &__title {
            font-size: 3.75rem;
            letter-spacing: 0px;

        }

        &__container {
            row-gap: 40px;
        }
    }
}

@media screen and (max-width: 576px) {

    /* Уменьшение padding контейнеров до 16px, компактная типографика */
    .mobile-app {
        &__title {
            font-size: var(--font-size-3xl);
            line-height: var(--line-height-snug);
        }

        &__download-buttons {
            flex-direction: column;
            row-gap: 20px;
        }
    }
}