// 1. Abstract
@use 'abstract/variables';
@use 'abstract/mixins';

// 2. Base
@use 'base/reset';
@use 'base/globals';
@use 'base/theme';

// 3. Components
@use "../components/theme-switch/theme-switch";
@use "../components/tab-item/tab-item";
@use "../components/link-button/link-button";
@use "../components/button-slider/button-slider";
@use "../components/app-buttons/app-buttons";
@use "../components/social-button/social-button";
@use "../components/product-card/product-card";
@use "../components/modal/modal";

// 4. Layout
@use 'layout/layout';
@use 'layout/header';
@use 'layout/hero';
@use 'layout/favorite';
@use 'layout/about';
@use 'layout/mobile-app';
@use 'layout/offer';
@use 'layout/footer';

*,
*::before,
*::after {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease,
    fill 0.3s ease,
    stroke 0.3s ease;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--color-bg-page);
  color: var(--color-text-primary);
}