// 1. Abstract
@use 'abstract/variables';
@use 'abstract/mixins';

// 2. Base
@use 'base/reset';
@use 'base/globals';

// 3. Components
@use "../components/menu-item/menu-item";
@use "../components/theme-switch/theme-switch";

// 4. Layout
@use 'layout/header';
@use 'layout/hero';
@use 'layout/footer';

body {
  font-family: sans-serif;
  background-color: #E1D4C9;
  color: #403F3D;
}